<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevintam.media.mapper.MediaFilesProcessMapper">
   <select id="getMediaProcessList" resultType="com.kevintam.media.model.po.MediaProcess">
       select * from media_process where id% #{shardTotal} = #{shardIndex} and status=1 limit #{count}
   </select>
</mapper>
